# Cambiar el post a 500mb
php_value upload_max_filesize 500M
php_value post_max_size 500M

# Poner UTF8 en todos los .html
AddCharset UTF-8 .html

# Evitar que se muestre el contenido de las carpetas
Options -Indexes

# Pagina de 404 not found
ErrorDocument 404 /qa_terminal_admin/404.html

# Prohibir acceso a .htaccess
<Files ~ “^.*\.([Hh][Tt][Aa])”>
order allow,deny
deny from all
satisfy all
</Files>

RewriteEngine on

# Prohibir acceso a carpeta bd
RewriteRule ^bd.*$ /qa_terminal_admin/ [R=301,L]

# Reglas para la API
RewriteRule ^api/personal$ /qa_terminal_admin/php/run.php?fn=cargar_personal [QSA,L]
RewriteRule ^api/cargos$ /qa_terminal_admin/php/run.php?fn=cargar_cargos [QSA,L]
RewriteRule ^api/permisos$ /qa_terminal_admin/php/run.php?fn=cargar_permisos [QSA,L]
RewriteRule ^api/lugares$ /qa_terminal_admin/php/run.php?fn=cargar_lugares [QSA,L]

RewriteRule ^api/guias/(.+)$ /qa_terminal_admin/php/run.php?fn=cargar_guias&status=$1 [QSA,L]

RewriteRule ^api/check/usuario/(.+)$ /qa_terminal_admin/php/run.php?fn=check_usuario&username=$1 [QSA,L]