<form class="agregar agregar_dependencia" ng-controller="Dependencia" ng-submit="registrar_dependencia()">
	<div class="register-form">
		<p class="btn-volver" ng-show="!express">
			<a class="btn btn-link" href="./#/dependencias">&larr; Volver</a>
		</p>

		<h1 style="font-size: 20px;">Dependencias &rarr; Agregar</h1>

		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" ng-model="dependencia.nombre" required maxlength="64" />
		</div>

		<div class="fila text-center">
			<button class="btn btn-primary" type="submit">Aceptar</button>
		</div>
	</div>
</form>