<div class="seccion" ng-controller="Dependencia">
	<h1 style="font-size: 20px;">Dependencias</h1>
	<p>
		<a href="./#/dependencias/agregar" class="btn btn-soincopy" ng-show="loginService.getCurrentUser().dependencias_agregar"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</a><br/>

		<div class="botones">
			<div ng-show="p_">
				<a class="btn btn-primary" ng-show="loginService.getCurrentUser().dependencias_editar" href="./#/dependencias/editar/{{ p_.id }}">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
				</a>

				<button class="btn btn-danger" ng-click="cambiar_estado(p_.id, 0)" ng-show="loginService.getCurrentUser().dependencias_deshabilitar && p_.estado == 1">
					<span class="glyphicon glyphicon-remove" aria-hidden="true" ></span> Deshabilitar
				</button>

				<button class="btn btn-success" ng-click="cambiar_estado(p_.id, 1)" ng-show="loginService.getCurrentUser().dependencias_deshabilitar && p_.estado == 0">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Habilitar
				</button>
			</div>
		</div>
	</p>

	<p>
		Buscar dependencia <input type="text" class="input_busqueda" ng-model="busqueda" ng-init="busqueda = ''" placeholder="Use cualquier campo para buscar" /> 
		<input type="checkbox" ng-model="solo_activos" ng-init="solo_activos = false;" /> Ver solo habilitados
	</p>

	<table class="table table-stripped">
		<thead>
			<th class="text-center">Nombre</th>
			<th class="text-center">Estado</th>
		</thead>
		<tbody>
			<tr ng-click="seleccionar(p)" ng-repeat="p in dependencias" 
				ng-if="
					(p.nombre.indexOf(busqueda) != -1)

					&& (solo_activos == false || p.estado == 1)
				"
				class="{{ p.estado == 0 ? 'bg-danger' : '' }} {{ p_.id == p.id ? 'bg-selected' : '' }}">
				<td class="text-center">{{ p.nombre }}</td>
				<td class="text-center">{{ p.estado == 1 ? 'Habilitado' : 'Deshabilitado' }}</td>

				<script> $('[data-toggle="tooltip"]').tooltip(); </script>
			</tr>
		</tbody>
	</table>
</div>